#show-contact {
  display:none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#modal-address li,
#phone-numbers li {
    list-style-type: none;
}

body {
  background: url(http://newevolutiondesigns.com/images/freebies/cat-wallpaper-22.jpg) no-repeat center center fixed;
}

